:root {
  --sap-blue: #0faaff;
  --sap-dark-blue: #0070b8;
  --sap-gray: #f4f4f4;
  --sap-dark: #1a1a1a;
  --sap-white: #ffffff;
}

/* === ESTILS GLOBALS === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: var(--sap-gray);
  color: var(--sap-dark);
}
/* === CAPÇALERA === */
header {
  background-color: var(--sap-dark-blue);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 5rem;

  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: color 0.3s ease;
  font-size: 1.5em;
}

nav ul li a:hover {
  background-color: #ffffff;
  color: var(--sap-dark-blue);
  pointer-events: painted;
  border-radius: 6px;
  transition: 0.2s;
}

.log {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}
.log a {
  text-decoration: none;
  color: white;
}
.log button {
  border: none;
  border-radius: 6px;
  color: var(--sap-blue);
  background: white;
  font-size: 0.9em;
  padding: 0.5em 0.8em;
}
.log button:hover {
  color: #ffffff;
  background-color: var(--sap-blue);
  transition: 0.2s;
}
/* TITULO */
.titol {
  text-align: center;
  margin-top: 5em;
  width: 100%;
  margin-bottom: 3em;
}
.titol h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin: 0.75em;
}
.titol p {
  font-size: 1.2em;
}

/* PRICING EN SI */
.container-pricing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}
.container-pricing .pricing {
  border: 4px solid lightskyblue;
  border-radius: 9px;
  background-color: white;
  width: 30%;
  height: auto;
  padding: 1em;
}

.container-pricing .pricing .titulo-precio {
  padding: 1em 0em;
  width: auto;
  height: auto;
}
.container-pricing .pricing .titulo-precio .precio {
  align-items: center;
}
.container-pricing .pricing .titulo-precio .precio h2 {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: capitalize;
  width: 100%;
  align-items: center;
  color: var(--sap-dark-blue);
}
.container-pricing .pricing .titulo-precio .precio p {
  margin-top: 0.6em;
  font-size: 1.5em;
  text-align: flex-start;
  font-weight: bold;
  width: 100%;
}
.container-pricing .pricing .titulo-precio h3 {
  margin-top: 1em;
}
.container-pricing .pricing .texto ul {
  display: grid;
  list-style: none;
  justify-content: flex-start;
}
.container-pricing .pricing .texto p {
  font-size: 1.1em;
  margin-top: 1em;
}
.container-pricing .pricing .texto ul li {
  margin: 0.5em 0.5em;
  text-align: justify;
  width: 90%;
}
.divBoton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
}

.divBoton button {
  border: none;
  border-radius: 6px;
  color: var(--sap-blue);
  background: white;
  font-size: 0.9em;
  padding: 0.5em 0.8em;
}
.divBoton button:hover {
  color: #ffffff;
  background-color: var(--sap-blue);
  transition: 0.2s;
}

/* === PEU DE PÀGINA === */
footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--sap-dark-blue);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  font-size: 0.9rem;
}
footer ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none;
  text-decoration: none;
}
footer ul a {
  text-decoration: none;
  color: #ffffff;
}
footer ul a:hover {
  pointer-events: painted;
  text-decoration: none;
  color: #ffffff;
  text-decoration: underline;
}

@media only screen and (max-width: 636px) {
  .container-pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
  }
  .container-pricing .pricing {
    border: 4px solid lightskyblue;
    border-radius: 9px;
    background-color: white;
    width: auto;
    height: auto;
    padding: 1em;
  }
  /* HEADER */
  header {
    background-color: var(--sap-dark-blue);
    color: white;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 1em;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 1em;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.3em;
  }

  nav ul li a:hover {
    background-color: #ffffff;
    color: var(--sap-dark-blue);
    pointer-events: painted;
    border-radius: 6px;
    transition: 0.2s;
  }

  .log {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em;
  }
  .log a {
    text-decoration: none;
    color: white;
  }
  .log button {
    border: none;
    border-radius: 6px;
    color: var(--sap-blue);
    background: white;
    font-size: 0.9em;
    padding: 0.5em 0.8em;
  }
  .log button:hover {
    color: #ffffff;
    background-color: var(--sap-blue);
    transition: 0.2s;
  }
  /* === PEU DE PÀGINA === */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--sap-dark-blue);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 6em 1em;
    font-size: 0.9rem;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    list-style: none;
    text-decoration: none;
  }
  footer ul a {
    text-decoration: none;
    color: #ffffff;
  }
  footer ul a:hover {
    pointer-events: painted;
    text-decoration: none;
    color: #ffffff;
    text-decoration: underline;
  }
  #copy{
    margin-top: 1em;
  }
}

