:root {
  --sap-blue: #0faaff;
  --sap-dark-blue: #0070b8;
  --sap-gray: #f4f4f4;
  --sap-dark: #1a1a1a;
  --sap-white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  background-color: var(--sap-gray);
}
/* HEADER */
header {
  background-color: var(--sap-dark-blue);
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 5rem;

  flex-wrap: wrap;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: color 0.3s ease;
  font-size: 1.5em;
}

nav ul li a:hover {
  background-color: #ffffff;
  color: var(--sap-dark-blue);
  pointer-events: painted;
  border-radius: 6px;
  transition: 0.2s;
}

.log {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}
.log a {
  text-decoration: none;
  color: white;
}
.log button {
  border: none;
  border-radius: 6px;
  color: var(--sap-blue);
  background: white;
  font-size: 0.9em;
  padding: 0.5em 0.8em;
}
.log button:hover {
  color: #ffffff;
  background-color: var(--sap-blue);
  transition: 0.2s;
}

/* HEADER de CADA PARTE DE Caracterisitcas */
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 2em;
}
.titulo h1 {
  margin-top: 2em;
  font-size: 2.5rem;
}
.titulo p {
  font-size: 1.5rem;
  margin: 0.5em;
}
.titulo p {
  margin-bottom: 3em;
}
.titulo1,
.titulo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.titulo1 h2,
.titulo1 p,
.titulo2 h2,
.titulo2 p {
  margin: 0.5em;
}
.titulo1 h2 {
  margin-top: 3em;
}
.titulo1 h2,
.titulo2 h2 {
  font-size: 1.8em;
}
.titulo1 p,
.titulo2 p {
  font-size: 1em;
}
/* CARACTERISITCAS ES SI LOS CUADRADOS */
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3em;
  margin-bottom: 3em;
  gap: 3em;
}
.section1 .caracteristica {
  height: 20em;
  width: 20em;
  border-radius: 7px;
  box-shadow: 0 2px 6px black;
}
.section1 .caracteristica:hover {
  height: 20em;
  width: 20em;
  border-radius: 7px;
  transition: 0.3s;
  transform: translateY(-5px);
}
.section1 .caracteristica p,
.section1 .caracteristica h3 {
  text-align: start;
  margin: 0.4em;
  padding: 0px 0.4em;
}
.section1 .caracteristica p {
  font-size: 1em;
}
.section1 .caracteristica img {
  height: 150px;
  width: 290px;
  margin: 1em;
}
/* TABLA COMPARATIVA */
.secion2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  padding: 0 3em;
}
tr td,
tr th {
  border: 1px solid #ccc;
  padding: 0.8em;
  text-align: center;
  font-size: auto;
}
.SAP {
  border: solid 2px var(--sap-dark-blue);
}
/* === PEU DE PÀGINA === */
footer {
  display: flex;
  justify-content: space-around;
  background-color: var(--sap-dark-blue);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  font-size: 0.9rem;
}
footer ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none;
  text-decoration: none;
}
footer ul a {
  text-decoration: none;
  color: #ffffff;
}
footer ul a:hover {
  pointer-events: painted;
  text-decoration: none;
  color: #ffffff;
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  /* HEADER */
  header {
    background-color: var(--sap-dark-blue);
    color: white;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 1em;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 1em;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.3em;
  }

  nav ul li a:hover {
    background-color: #ffffff;
    color: var(--sap-dark-blue);
    pointer-events: painted;
    border-radius: 6px;
    transition: 0.2s;
  }

  .log {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    margin: 1em;
  }
  .log a {
    text-decoration: none;
    color: white;
  }
  .log button {
    border: none;
    border-radius: 6px;
    color: var(--sap-blue);
    background: white;
    font-size: 0.9em;
    padding: 0.5em 0.8em;
  }
  .log button:hover {
    color: #ffffff;
    background-color: var(--sap-blue);
    transition: 0.2s;
  }
  /* TAULA */
  .section2 table{
    font-size: auto;
    width: 20%;
    margin: 0 5em;
    padding: 0 3em;
  }
  /* PEU DE PÀGINA */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--sap-dark-blue);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 6em 1em;
    font-size: 0.9rem;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5em;
    list-style: none;
    text-decoration: none;
  }
  footer ul a {
    text-decoration: none;
    color: #ffffff;
  }
  footer ul a:hover {
    pointer-events: painted;
    text-decoration: none;
    color: #ffffff;
    text-decoration: underline;
  }
  #copy {
    margin-top: 1em;
  }
}
